*
{
    margin: 0;
    padding: 0;
    outline: none;
}

body
{
    font-family: Roboto, sans-serif;
    background-color: #324566;
}

.container
{
    width: 280px;
    height: 500px;
    margin: 60px auto;
    margin-left: 1000px;
}

.card {}

.card-head
{
    position: relative;
    height: 252px;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135degt,  #fa782e 8%, #c82930 83%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa782e',
    endColorstr='#c8930', GradientType=1 );
}